/* This is a comment */

body {
    background-color: rgb(174, 225, 255);
    color: rgb(48, 48, 48);
    font-size: 21px;
}

h1 {
    color: rgb(255, 0, 0);
}

.top-section {
    background: violet;
}

.bottom-section {
    background: greenyellow;
}

.intro {
    font-size: 30px;
}

.highlight {
    background: lavender;
}

.box {
    background: rgb(143, 21, 0);
    width: 350px;
    background-image: url(../img/sunset.jpg);
    background-position: center;
    background-size: cover;

    margin: 50px;
    border: 5px solid black;
    padding: 50px;
}