/* This is a comment */

body {
    background-color: rgb(174, 225, 255);
    color: rgb(48, 48, 48);
    font-size: 21px;
    background-image: url(../img/blue-snow.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 54, 172);
    font-family: fantasy, serif;
}

p {
    line-height: 1.25;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: square;
}

ul li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

a:link {
    color: red;
}

a:visited {
    color: darkred;
}

a:hover {
    color: darkblue;
}

.container {
    background: white;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

.decoration {
    text-decoration: underline;
    text-transform: uppercase;
}

.top-section {
    background: violet;
}

.bottom-section {
    background: greenyellow;
}

.intro {
    font-size: 30px;
}

.highlight {
    background: lavender;
}

.box {
    width: 100px;
    height: 100px;
    float: left;
}

.box1 {
    background: rgba(255, 192, 203, 0.705);
}

.box2 {
    background: red;
}

.box3 {
    background: firebrick;
}

.box4 {
    background: orange;
}

.box5 {
    background: yellow;
    clear: both;
}

.box6 {
    background: greenyellow;
}

.box7 {
    background: green;
}

.box8 {
    background: blue;
}

.box9 {
    background: purple;
}